/*
  Base
*/

body {
  font-family: $serif-font-family;
  // font-family: $latex-like-font-family;
  font-size: 24px;
  color: $body-color;
  line-height: 2.2rem;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
}

@media (max-width: $elements-responsive-width) {
  body {
    font-size: 14px;
    line-height: 1.8rem;

  }
  body h1 {
    font-size: 1.5rem;
  }
}


h1{
  font-size: 2rem;
  text-align:center;
}



h3 {
  font-size:1.5rem;
}

h1 a {
  text-decoration: none;
}

h2{
  font-size:1.7rem;
  padding-bottom:8px;
  border-bottom: 1px solid #e6e6e6 ; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: $latex-like-font-family;
  color: $dark-gray-color;

}

a {
  text-decoration: underline;
  color: $dark-gray-color;
}

a:hover {
  color: #e55a5c;
  border-bottom: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

blockquote {
  margin: 10px 20px 10px;
  padding: 0px 15px;
  border-left: 0.25em solid $extra-light-gray-color;
  color: $light-gray-color;
  line-height: 1.5;
}

hr {
  border-top: 1px solid $extra-light-gray-color;
}


/**
 * Wrapper
 */
.wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}
/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.page-error{

  text-align: center;
}

/*
  Tables
*/

table {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
  overflow: auto; 
  display:block
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 5px;
  text-align: left;
}


.site-title a{
  font-size : 1.8rem;
}

.post-date-page{
  text-align: center;
  margin:5px;
}

.post-date-page h5{
  font-size:.9rem;
  color:  $light-gray-color;
  margin:5px;
}

.post-keywords{
  text-align: center;
}

.post-keywords h4{
  font-size:1.1rem;
  margin:5px;
  color: gray;
}
