---
layout: default
---

{% for post in paginator.posts %}
  <div class="post-card">

    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/posts-covers/{{ post.image }}"></a>
      </div>
    {% endif %}

    <h3>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </h3>

    {% if post.author %}
    <div class="post-card-author">
      <h5>{{ post.date | date_to_string }} | {{ post.author }}</h5>
    </div>
    {% endif %}

  </div>
{% endfor %}

